---
import SiteLayout from "./SiteLayout.astro";
import { type CollectionEntry } from "astro:content";
import ArtistCard from "../components/ArtistCard.astro";

export interface Props {
  mainArtists: CollectionEntry<"artists">[];
  otherArtists: CollectionEntry<"artists">[];
}



const { mainArtists, otherArtists } = Astro.props;

---


<SiteLayout title="Music">
    <main id="main-content">
      <section id="projects">
        <h2>Main projects</h2>
        <ul class="list-disc px-4">
            {
              mainArtists.map(artist => (<a href={`/music/${artist.slug}`}><li>{artist.data.title}</li>  </a>
              ))
            }
          </ul>
          <h2>Other projects</h2>
          <ul class="list-disc px-4">
            {
              otherArtists.map(artist => (<a href={`/music/${artist.slug}`}><li>{artist.data.title}</li>  </a>
              ))
            }
          </ul>
      </section>
    </main>
  </SiteLayout>
  
  <style>
    /* ===== Hero Section ===== */
    #hero {
      @apply pt-8 pb-6;
    }
    #hero h1 {
      @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
    }
    #hero .rss-link {
      @apply mb-6;
    }
    #hero .rss-icon {
      @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
    }
    #hero p {
      @apply my-2;
    }
    .social-wrapper {
      @apply mt-4 flex flex-col sm:flex-row sm:items-center;
    }
    .social-links {
      @apply mr-2 mb-1 whitespace-nowrap sm:mb-0;
    }
  
    /* ===== Featured & Recent Posts Sections ===== */
    #featured,
    #projects,
    #latest-projects,
    #recent-posts {
      @apply pt-12 pb-6;
    }
    #featured h2,
    #projects h2,
    #latest-projects h2,
    #recent-posts h2 {
      @apply text-2xl font-semibold tracking-wide;
    }
    .all-posts-btn-wrapper {
      @apply my-8 text-center;
    }
  </style>
  